body {
  font-family: "Avenir";
  background: linear-gradient(135deg, #0a0062, #070062);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(225, 217, 217, 0.1);
  width: 350px;
}

h1 {
  margin-bottom: 1rem;
}

input {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 80%;
}

button {
  background: #00158a;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

button:hover {
  background: #00158a;
}

.hidden {
  display: none;
}

#photoParrainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.photo-parrain {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  transition: transform 0.2s;
}

.photo-parrain:hover {
  transform: scale(1.05);
}
